USE [master]
GO
/****** Object:  Database [Test]    Script Date: 21.01.2026 16:10:41 ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Users\Student\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Users\Student\Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[ProductList]    Script Date: 21.01.2026 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Cost] [int] NULL,
	[ProductCount] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleList]    Script Date: 21.01.2026 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[AccessLevel] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersList]    Script Date: 21.01.2026 16:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Firsname] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Proffession] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
